{% extends "govuk/template.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{# Set variables that template.njk uses #}
{% set htmlLang = clang|default('en') %}
{% set assetPath = assets %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ assets }}/all.css">
{% endblock %}

{% block bodyStart %}
  {% include './partials/cookie-banner.njk' %}
{% endblock %}

{% block header %}
  {% include './partials/header.njk' %}
{% endblock %}

{% block beforeContent %}
  {% if not hideLayoutPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: t.phase_banner.new_service + ' <a class="govuk-link" href="' + t.phase_banner.feedback_link + '">' + t.phase_banner.feedback + '</a> ' + t.phase_banner.help_improve
    }) }}
  {% endif %}

  {% if pageBreadcrumbItems %}
    {{ govukBreadcrumbs({
      items: pageBreadcrumbItems
    }) }}
  {% endif %}
{% endblock %}

{# The content block is already defined in template.njk, child pages will fill it #}

{# Override footer to use your custom footer #}
{% block footer %}
  {% include './partials/footer.njk' %}
{% endblock %}

{# Add your JavaScript at the end #}
{% block bodyEnd %}
  <script src="{{ assets }}/all.js"></script>
  <script type="module">
    import { initAll } from '{{ assets }}/all.js'
    initAll()
  </script>
    <script src="{{ assets }}/client.js"></script>
{% endblock %}
