{% extends './base.layout.njk' %}

{% block bodyContentWrapper %}
<main id="content" {{ 'class="' + mainContainerClass + '"' if mainContainerClass }} role="main">
  {% block content %}{% endblock %}
</main>
{% endblock %}
