{% extends 'layouts/base.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
    { text: t.breadcrumbs.home, href: '/' },
    { text: t.breadcrumbs.payment_code, href: '/payment-code' },
    { text: t.breadcrumbs.payment }
] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ t.failed_payment_page.title }}</h1>
      <p class="govuk-body">{{ t.failed_payment_page.info }}</p>
      {{ govukButton({
        text: t.failed_payment_page.start_again_button,
        href: '/payment-code/' + paymentCode
      }) }}
    </div>
  </div>
{% endblock %}
