{% extends 'layouts/base.layout.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitle = t.payment_code_page.title %}
{% set pageBreadcrumbItems = [
    { text: t.breadcrumbs.home, href: '/' },
    { text: t.breadcrumbs.payment_code }
] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if invalidPaymentCode %}
        {{ govukErrorSummary({
          titleText: t.payment_code_page.error.title if type !== 'overdue' else t.payment_code_page.overdue_error.title,
          errorList: [
            {
              text: t.payment_code_page.error.invalid_code,
              href: "#payment_code"
            }
          ]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">{{ t.payment_code_page.title }}</h1>

      <form method="post" action="/payment-code" novalidate>

        {{ govukInput({
          id: "payment_code",
          name: "payment_code",
          label: {
            text: t.payment_code_page.payment_code
          },
          hint: {
            text: t.payment_code_page.hint
          },
          errorMessage: {
            text: t.payment_code_page.error.invalid_code
          } if invalidPaymentCode,
          attributes: {
            maxlength: 19
          }
        }) }}

        {% if type !== 'overdue' %}
          {{ govukDetails({
            summaryText: t.payment_code_page.hidden_panel_title,
            html: '<p>' + t.penalty_details_page.details_assistance_panel_paragraph_1 + '</p>
                   <ul class="govuk-list govuk-list--bullet">
                     <li>' + t.penalty_details_page.tell_examiner + '</li>
                     <li>' + t.penalty_details_page.call_dvsa + '</li>
                   </ul>'
          }) }}
        {% endif %}

        {{ govukButton({
          text: t.payment_code_page.continue_button
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
