{% extends 'layouts/base.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
    { text: t.breadcrumbs.home, href: '/' },
    { text: t.breadcrumbs.payment_code, href: '/payment-code' },
    { text: t.breadcrumbs.penalty_details }
  ]
%}

{% set paid = true if paymentStatus == 'PAID' else false %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t.penalty_details_page.penalty_details_title }}</h1>

      {% if paid == false %}
        <p class="govuk-body">{{ t.penalty_details_page.intro_part_paid }}</p>
      {% else %}
        <p class="govuk-body">{{ t.penalty_details_page.intro_paid }}</p>
        <p class="govuk-body">
          {{ t.feedback_prompt.easy_to_use }}
          <a href="{{ t.feedback_prompt.link }}" target="_blank" class="govuk-link">
            {{ t.feedback_prompt.tell_us }}</a>
          {{ t.feedback_prompt.improve_service }}
        </p>
      {% endif %}

      {# Penalty details summary table #}
      <table class="govuk-table details multipenalty-summary-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ t.penalty_details.payment_code }}</td>
            <td class="govuk-table__cell" colspan=4>{{ paymentCode }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ t.penalty_details.vehicle_reg }}</td>
            <td class="govuk-table__cell">{{ penaltyGroupDetails.registrationNumber if penaltyGroupDetails.registrationNumber else 'N/A' }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ t.penalty_details.penalty_date }}</td>
            <td class="govuk-table__cell" colspan=4>{{ penaltyGroupDetails.date }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ t.penalty_details.location }}</td>
            <td class="govuk-table__cell" colspan=4>{{ location | escape }}</td>
          </tr>
          {% for amount in penaltyGroupDetails.splitAmounts|sort(attribute='type', reverse=true) %}
            {% set amountPaid = true if amount.status == 'PAID' else false %}
            {% set statusClass = 'confirmed' if amountPaid else 'unconfirmed' %}
            {% set showPaymentButton = amount.status == 'UNPAID' %}
            <tr class='govuk-table__row no-border'>
                {% if amount.type == 'FPN' %}
                  <td class="govuk-table__cell" data-testid="type_fpn">
                    {{ t.penalty_details.type_fixed_penalty }}
                  </td>
                {% elif amount.type == 'CDN' %}
                  <td class="govuk-table__cell" data-testid="type_cdn">
                    {{ t.penalty_details.type_court_deposit }}
                  </td>
                {% elif amount.type == 'IM' %}
                  <td class="govuk-table__cell" data-testid="type_im">
                    {{ t.penalty_details.type_immobilisation }}
                  </td>
                {% endif %}
              <td class="govuk-table__cell">
                &pound;{{ amount.amount }}
              </td>
              <td class="govuk-table__cell">
                <span class="{{statusClass}}">
                  {% if amountPaid %}
                    <strong>{{ t.penalty_details.status_paid }}</strong> &nbsp;&nbsp;
                    <img src="{{ assets }}/images/icon-check.png" alt="" />
                  {% else %}
                    <strong>{{ t.penalty_details.status_unpaid }}</strong>
                  {% endif %}
                </span>
              </td>
              <td class="govuk-table__cell">
                {% if amountPaid %}
                  <a href="{{paymentCode}}/{{amount.type}}/receipt" class="govuk-link">{{ t.penalty_details.receipt_link }}</a>
                {% endif %}
              </td>
            </tr>
            {% for penaltyType in penaltyDetails %}
              {% if penaltyType.type == amount.type %}
                {% if penaltyType.penalties.length == 1 %}
                  <tr class="govuk-table__row {% if showPaymentButton %}no-border{% endif %}">
                    <td class="govuk-table__cell">
                      {{ t.penalty_details.reference }}
                    </td>
                    <td class="govuk-table__cell" colspan=3>
                      <strong>{{ penaltyType.penalties[0].formattedReference }}</strong>
                    </td>
                  </tr>
                {% else %}
                  <tr class="govuk-table__row {% if showPaymentButton %}no-border{% endif %}">
                    <td class="govuk-table__cell" colspan=4>
                      {{ govukDetails({
                        summaryText: t.penalty_details_page.penalty_details_panel_title,
                        html: '<table class="govuk-table">
                                <tbody class="govuk-table__body">
                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">' + t.penalty_details.reference + '</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric">' + t.penalty_details.amount + '</td>
                                  </tr>' +
                                  (penaltyType.penalties | map(penalty => '
                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell"><strong>' + penalty.formattedReference + '</strong></td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric"><strong>&pound;' + penalty.amount + '</strong></td>
                                  </tr>') | join('')) +
                                '</tbody>
                              </table>'
                      }) }}
                    </td>
                  </tr>
                {% endif %}
              {% endif %}
            {% endfor %}
            {% if showPaymentButton %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell payment-button-cell" colspan=4>
                  {% set detailsUrl = '/payment-code/' + paymentCode + '/' + amount.type + '/details' %}
                  {{ govukButton({
                    text: t.penalty_details_page.continue_to_payment_button,
                    href: detailsUrl
                  }) }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

      {% if paid == false %}
        {{ govukWarningText({
          text: t.home.info_text,
          iconFallbackText: "Warning"
        }) }}

        {{ govukDetails({
          summaryText: t.penalty_details_page.details_assistance_panel_title,
          html: '<p class="govuk-body">' + t.penalty_details_page.details_assistance_panel_paragraph_1 + '</p>
                 <ul class="govuk-list govuk-list--bullet">
                   <li>' + t.penalty_details_page.tell_examiner + '</li>
                   <li>' + t.penalty_details_page.call_dvsa + '<br />
                     <a href="https://www.gov.uk/call-charges" class="govuk-link">' + t.penalty_details_page.call_charges_link + '</a>
                   </li>
                 </ul>
                 <p class="govuk-body">' + t.penalty_details_page.info_needed + '</p>'
        }) }}

        <h3 class="govuk-heading-m">{{ t.home.other_ways }}</h3>

        <h4 class="govuk-heading-s">{{ t.home.phone_heading }}</h4>
        <p class="govuk-body">{{ t.home.phone_contact_details }}</p>
        <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link">{{ t.home.phone_charges_link }}</a></p>
        <p class="govuk-body">{{ t.home.phone_info_needed }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t.home.phone_bullet1 }}</li>
          <li>{{ t.home.phone_bullet2 }}</li>
          <li>{{ t.home.phone_bullet3 }}</li>
        </ul>

        <h4 class="govuk-heading-s">{{ t.home.post_heading }}</h4>
        <p class="govuk-body">{{ t.home.post_text }}</p>

        <h4 class="govuk-heading-s">{{ t.home.cash_heading }}</h4>
        <p class="govuk-body">{{ t.home.cash_text }}</p>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-related-items" role="complementary">
        <h3 class="govuk-heading-s" id="language-links-header">{{ t.home.language_guidance_header }}:</h3>
        <nav role="navigation" aria-labelledby="language-links-header">
          {{ components.translations("translations_side", "font-xsmall") }}
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}
