{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
  {
    text: t.breadcrumbs.home,
    url: '/'
  }, {
    text: t.breadcrumbs.cookie_details
  }
] %}

{% block content %}

  {% call components.gridRow() %}
    {% call components.columnTwoThirds() %}

      <div class="cookie-details">
        {{ components.heading(text=t.cookie_details_page.title, tag='h1', size='xlarge') }}
        <p>{{ t.cookie_details_page.cookies_text_definition }}

        {{ components.heading(text=t.cookie_details_page.analytics_title, tag='h2', size='medium') }}
        <p>{{ t.cookie_details_page.analytics_text }}

        <div class="inset-text">{{ t.cookie_details_page.analytics_privacy }}</div>

        <p>{{ t.cookie_details_page.analytics_info }}</p>

        <ul class="list-bullet">
          <li>{{ t.cookie_preferences_page.analytics_text_list_one }}</li>
          <li>{{ t.cookie_preferences_page.analytics_text_list_two }}</li>
          <li>{{ t.cookie_preferences_page.analytics_text_list_three }}</li>
        </ul>

        <br />

        <p>{{ t.cookie_details_page.analytics_text_set }}</p>

        <table>
          <thead>
            <tr>
              <th scope="col">{{ t.cookie_details_page.table_header_name }}</th>
              <th scope="col">{{ t.cookie_details_page.table_header_purpose }}</th>
              <th scope="col">{{ t.cookie_details_page.table_header_expires }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>_ga</td>
              <td>These help us count how many people visit Roadside Payments by tracking if you’ve visited before</td>
              <td>2 years</td>
            </tr>
            <tr>
              <td>_gid</td>
              <td>These help us count how many people visit Roadside Payments by tracking if you’ve visited before</td>
              <td>24 hours</td>
            </tr>
          </tbody>
        </table>

        {{ components.heading(text=t.cookie_details_page.remember_title, tag='h2', size='medium') }}
        <p>{{ t.cookie_details_page.remember_text }}


        {{ components.heading(text=t.cookie_details_page.surveys_title, tag='h3', size='small') }}
        <p>{{ t.cookie_details_page.surveys_text }}

        <table>
          <thead>
            <tr>
              <th scope="col">{{ t.cookie_details_page.table_header_name }}</th>
              <th scope="col">{{ t.cookie_details_page.table_header_purpose }}</th>
              <th scope="col">{{ t.cookie_details_page.table_header_expires }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>govuk_taken[NameOfSurvey]</td>
              <td>Saves a message to remember if you’ve taken the survey or dismissed it</td>
              <td>4 months</td>
            </tr>
            <tr>
              <td>govuk_surveySeen[NameOfSurvey]</td>
              <td>Saves a message to remember how many times you’ve seen the survey</td>
              <td>2 years</td>
            </tr>
          </tbody>
        </table>

        {{ components.heading(text=t.cookie_details_page.essential_cookies_title, tag='h2', size='medium') }}

        {{ components.heading(text=t.cookie_details_page.essential_cookies_language_title, tag='h3', size='small') }}
        <p>{{ t.cookie_details_page.essential_cookies_language_text }}

        <table>
          <thead>
            <tr>
              <th scope="col">{{ t.cookie_details_page.table_header_name }}</th>
              <th scope="col">{{ t.cookie_details_page.table_header_purpose }}</th>
              <th scope="col">{{ t.cookie_details_page.table_header_expires }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>locale</td>
              <td>This lets us know which language you have selected so we can automatically display pages in your chosen language throughout your journey.</td>
              <td>When you close your browser</td>
            </tr>
          </tbody>
        </table>

        {{ components.heading(text=t.cookie_details_page.essential_cookies_banner_title, tag='h3', size='small') }}
        <p>{{ t.cookie_details_page.essential_cookies_banner_text }}

        <table>
          <thead>
            <tr>
              <th scope="col">{{ t.cookie_details_page.table_header_name }}</th>
              <th scope="col">{{ t.cookie_details_page.table_header_purpose }}</th>
              <th scope="col">{{ t.cookie_details_page.table_header_expires }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>cm-user-preferences</td>
              <td>Saves your cookie consent preferences</td>
              <td>1 year</td>
            </tr>
          </tbody>
        </table>

        {{ components.heading(text=t.cookie_details_page.change_preferences_title, tag='h2', size='medium') }}
        <p>{{ t.cookie_details_page.change_preferences_text }}

      </div>

    {%- endcall %}
  {%- endcall %}
{% endblock %}