{% macro heading(text='', secondary=false, tag='h1', size='large', url=false, extraClass, id) %}
  {% if text %}
    {% set sizeMap = {
      'xlarge': 'govuk-heading-xl',
      'large': 'govuk-heading-l',
      'medium': 'govuk-heading-m',
      'small': 'govuk-heading-s'
    } %}
    <{{ tag }} {{ 'id="' + id + '"' if id }} class="{{ sizeMap[size] or 'govuk-heading-l' }} {{ extraClass if extraClass }}">
      {% if secondary %}
        <span class="govuk-caption-xl">{{ secondary }}</span>
      {% endif %}
      {{ '<a href="' + url +'" class="govuk-link">' + text + '</a>' if url else text }}
    </{{ tag }}>
  {% endif %}
{% endmacro %}
