{% macro validation(title='', description='') %}
<div class="error-summary" role="alert" aria-labelledby="error-summary-payment-code" tabindex="1">
  <h2 class="heading-medium error-summary-heading" id="error-summary-payment-code">
    {{ title }}
  </h2>
  <ul class="error-summary-list">
    <li>
      <a href="#payment_code">
        {{ description }}
      </a>
    </li>
  </ul>
</div>
{% endmacro %}
