{% extends 'layouts/base.layout.njk' %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
  {
    text: t.breadcrumbs.home,
    href: '/'
  }, {
    text: t.breadcrumbs.accessibility_statement
  }
] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ t.accessibility_statement.title }}</h1>

      <p class="govuk-body">{{ t.accessibility_statement.introduction.applies_to }}</p>
      <p class="govuk-body">{{ t.accessibility_statement.introduction.ownership }}</p>

      <ul class="govuk-list govuk-list--bullet">
        {% for item in t.accessibility_statement.introduction.should_be_able_to %}
          <li>{{ item.text }}</li>
        {% endfor %}
      </ul>

      <p class="govuk-body">{{ t.accessibility_statement.introduction.text_simple }}</p>
      <p class="govuk-body">{{ t.accessibility_statement.introduction.further_advice }}</p>

      <h2 class="govuk-heading-l">{{ t.accessibility_statement.accessibility.heading }}</h2>
      <p class="govuk-body">{{ t.accessibility_statement.accessibility.statement }}</p>

      <h2 class="govuk-heading-l">{{ t.accessibility_statement.feedback.heading }}</h2>
      <p class="govuk-body">{{ t.accessibility_statement.feedback.statement }}</p>

      <ul class="govuk-list govuk-list--bullet">
        {% for item in t.accessibility_statement.feedback.contact_information %}
          <li>{{ item.text }}</li>
        {% endfor %}
      </ul>

      <p class="govuk-body">{{ t.accessibility_statement.feedback.timeframe }}</p>

      <h2 class="govuk-heading-l">{{ t.accessibility_statement.reporting.heading }}</h2>
      <p class="govuk-body">{{ t.accessibility_statement.reporting.statement }}</p>
      <p class="govuk-body">{{ t.accessibility_statement.reporting.contact_url }}</p>
      <p class="govuk-body">{{ t.accessibility_statement.reporting.report_instruction.statement }}</p>

      <ul class="govuk-list govuk-list--bullet">
        {% for item in t.accessibility_statement.reporting.report_instruction.details %}
          <li>{{ item.text }}</li>
        {% endfor %}
      </ul>

      <h2 class="govuk-heading-l">{{ t.accessibility_statement.enforcement_procedure.heading }}</h2>
      <p class="govuk-body">{{ t.accessibility_statement.enforcement_procedure.statement }}</p>

      <h2 class="govuk-heading-l">{{ t.accessibility_statement.contact_by_phone.heading }}</h2>
      <p class="govuk-body">{{ t.accessibility_statement.contact_by_phone.statement }}</p>

      <h2 class="govuk-heading-l">{{ t.accessibility_statement.technical_info.heading }}</h2>
      <p class="govuk-body">{{ t.accessibility_statement.technical_info.statement }}</p>

      <h2 class="govuk-heading-l">{{ t.accessibility_statement.technical_info.compliance_status.heading }}</h2>
      <p class="govuk-body">{{ t.accessibility_statement.technical_info.compliance_status.statement }}</p>

      <h2 class="govuk-heading-l">{{ t.accessibility_statement.technical_info.content_not_in_scope.heading }}</h2>

      <h3 class="govuk-heading-m">{{ t.accessibility_statement.technical_info.content_not_in_scope.documents.heading }}</h3>
      <p class="govuk-body">{{ t.accessibility_statement.technical_info.content_not_in_scope.documents.statement_one }}</p>
      <p class="govuk-body">{{ t.accessibility_statement.technical_info.content_not_in_scope.documents.statement_two }}</p>
      <p class="govuk-body">{{ t.accessibility_statement.technical_info.content_not_in_scope.documents.statement_three }}</p>

      <h2 class="govuk-heading-l">{{ t.accessibility_statement.improving_accessibility.heading }}</h2>
      <p class="govuk-body">{{ t.accessibility_statement.improving_accessibility.statement }}</p>

      <h2 class="govuk-heading-l">{{ t.accessibility_statement.statement_preparation.heading }}</h2>
      <p class="govuk-body">{{ t.accessibility_statement.statement_preparation.statement_one }}</p>
      <p class="govuk-body">{{ t.accessibility_statement.statement_preparation.statement_two }}</p>
      <p class="govuk-body">{{ t.accessibility_statement.statement_preparation.statement_three }}</p>
      <p class="govuk-body">{{ t.accessibility_statement.statement_preparation.statement_four }}</p>
      <p class="govuk-body">{{ t.accessibility_statement.statement_preparation.statement_five }}</p>
    </div>
  </div>
{% endblock %}
