{% extends 'layouts/base.layout.njk' %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = t.site_title %}
{% set pageBreadcrumbItems = [
  {
    text: t.breadcrumbs.home,
    href: '/'
  }, {
    text: t.breadcrumbs.privacy_statement
  }
] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ t.privacy_statement.title }}</h1>

      <h2 class="govuk-heading-m">{{ t.privacy_statement.introduction.heading }}</h2>
      <p class="govuk-body">{{ t.privacy_statement.introduction.about }}</p>
      <p class="govuk-body">{{ t.privacy_statement.introduction.purpose }}</p>
      <p class="govuk-body">{{ t.privacy_statement.introduction.dataController }}</p>

      <h2 class="govuk-heading-m">{{ t.privacy_statement.what_data.heading }}</h2>
      <p class="govuk-body">{{ t.privacy_statement.what_data.what_we_need.statement }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t.privacy_statement.what_data.what_we_need.details %}
            <li>{{ item.text }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body">{{ t.privacy_statement.what_data.reason }}</p>
      <p class="govuk-body">{{ t.privacy_statement.what_data.legal }}</p>

      <h2 class="govuk-heading-m">{{ t.privacy_statement.why.heading }}</h2>
      <p class="govuk-body">{{ t.privacy_statement.why.data.statement }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t.privacy_statement.why.data.details %}
          <li>{{ item.text }}</li>
        {% endfor %}
      </ul>

      <h2 class="govuk-heading-m">{{ t.privacy_statement.what_we_do_with.heading }}</h2>
      <p class="govuk-body">{{ t.privacy_statement.what_we_do_with.data.statement }}</p>
      <p class="govuk-body">{{ t.privacy_statement.what_we_do_with.data.excluding }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t.privacy_statement.what_we_do_with.data.details %}
          <li>{{ item.text }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body">{{ t.privacy_statement.what_we_do_with.data.law }}</p>

      <h2 class="govuk-heading-m">{{ t.privacy_statement.how_long.heading }}</h2>
      <p class="govuk-body">{{ t.privacy_statement.how_long.data.statement }}</p>
      <p class="govuk-body">{{ t.privacy_statement.how_long.data.hold }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t.privacy_statement.how_long.data.details %}
          <li>{{ item.text }}</li>
        {% endfor %}
      </ul>

      <h2 class="govuk-heading-m">{{ t.privacy_statement.where.heading }}</h2>
      <p class="govuk-body">{{ t.privacy_statement.where.statement_one }}</p>
      <p class="govuk-body">{{ t.privacy_statement.where.statement_two }}</p>
      <p class="govuk-body">{{ t.privacy_statement.where.statement_three }}</p>

      <h2 class="govuk-heading-m">{{ t.privacy_statement.protection.heading }}</h2>
      <p class="govuk-body">{{ t.privacy_statement.protection.statement_one }}</p>

      <h2 class="govuk-heading-m">{{ t.privacy_statement.automated.heading }}</h2>
      <p class="govuk-body">{{ t.privacy_statement.automated.statement_one }}</p>

      <h2 class="govuk-heading-m">{{ t.privacy_statement.changes.heading }}</h2>
      <p class="govuk-body">{{ t.privacy_statement.changes.statement_one }}</p>
      <p class="govuk-body">{{ t.privacy_statement.changes.statement_two }}</p>
      <p class="govuk-body">{{ t.privacy_statement.changes.statement_three }}</p>

      <h2 class="govuk-heading-m">{{ t.privacy_statement.contact.heading }}</h2>
      <p class="govuk-body">{{ t.privacy_statement.contact.statement_one }}</p>

      {% set contactHtml %}
        <p class="govuk-body">{{ t.privacy_statement.contact.statement_two }}</p>
        <span>{{ t.privacy_statement.contact.line_one.text }}</span><br>
        {% for item in t.privacy_statement.contact.address %}
          {{ item.text }}<br>
        {% endfor %}
        <p class="govuk-body">{{ t.privacy_statement.contact.dvsa_email.heading }}</p>
        <a href="mailto:{{ t.privacy_statement.contact.dvsa_email.link }}" class="govuk-link">
          {{ t.privacy_statement.contact.dvsa_email.link }}
        </a>
      {% endset %}

      {{ govukInsetText({
        html: contactHtml
      }) }}

      <p class="govuk-body">{{ t.privacy_statement.contact.customer_services }}</p>
      <p class="govuk-body">{{ t.privacy_statement.contact.regulator }}</p>

      {{ govukInsetText({
        html: '<p class="govuk-body">' + t.privacy_statement.contact.ico_email.heading + '<br>
               <a href="mailto:' + t.privacy_statement.contact.ico_email.link + '" class="govuk-link">' + t.privacy_statement.contact.ico_email.link + '</a></p>
               <p class="govuk-body">' + t.privacy_statement.contact.ico_contact.heading + '<br>
               <a href="mailto:' + t.privacy_statement.contact.ico_contact.form + '" class="govuk-link">' + t.privacy_statement.contact.ico_contact.form + '</a></p>
               <p class="govuk-body">' + t.privacy_statement.contact.ico_contact.telephone + '<br>
               <span>' + t.privacy_statement.contact.ico_contact.telno.text + '</span></p>
               <p class="govuk-body">' + t.privacy_statement.contact.ico_contact.textphone + '<br>
               <span>' + t.privacy_statement.contact.ico_contact.textphone_no.text + '</span>'
      }) }}
    </div>
  </div>
{% endblock %}
