{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

<div id="global-cookie-banner" class="hidden">
  {{ govukCookieBanner({
    ariaLabel: "Cookies on DVSA roadside fines portal",
    messages: [
      {
        headingText: t.cookie_banner.title,
        html: '<p class="govuk-body">' + t.cookie_banner.message + '</p>',
        actions: [
          {
            text: t.cookie_banner.button_accept,
            type: "button",
            classes: "button--submit"
          },
          {
            text: t.cookie_banner.button_preferences,
            href: "/cookie-preferences"
          }
        ]
      }
    ]
  }) }}
</div>
