{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "/cookie-preferences",
        text: t.footer.cookies,
        attributes: {
          id: "cookies-link"
        }
      },
      {
        href: "https://www.gov.uk/help/terms-conditions",
        text: t.footer.terms_conditions
      },
      {
        href: "/accessibility-statement",
        text: t.footer.accessibility_statement
      },
      {
        href: "/privacy-statement",
        text: t.footer.privacy_statement
      }
    ],
    html: '<p class="govuk-footer__meta-custom">' + t.footer.built_by + '</p>
           <p class="govuk-footer__meta-custom">' + t.footer.licence + '</p>
           <p class="govuk-footer__meta-custom">Version 3.1.4</p>'
  }
}) }}

<div id="global-app-error" class="app-error hidden"></div>
