<!-- footer -->
<footer class="group js-footer" id="footer">
  <div class="footer-wrapper">
    <div class="footer-meta">
      <div class="footer-meta-inner">
        <h5 class="visuallyhidden">Support links</h5>
        <ul>
          <li><a href="/cookie-preferences" id="cookies-link">{{ t.footer.cookies }}</a></li>
          <li><a href="https://www.gov.uk/help/terms-conditions">{{ t.footer.terms_conditions }}</a></li>
          <li><a href="/accessibility-statement">{{ t.footer.accessibility_statement }}</a></li>
          <li><a href="/privacy-statement">{{ t.footer.privacy_statement }}</a></li>
          <li>{{ t.footer.built_by }}</li>
        </ul>
        <h5 class="visuallyhidden">Languages</h5>
        <ul id="translation-list">
          <li>{{ components.link(text='French', url='?clang=fr') }}</li>
          <li>{{ components.link(text='German', url='?clang=de') }}</li>
          <li>{{ components.link(text='Polish', url='?clang=pl') }}</li>
          <li>{{ components.link(text='Spanish', url='?clang=es')}}</li>
          <li>{{ components.link(text='Welsh', url='?clang=cy') }}</li>
          <li>{{ components.link(text='Bulgarian', url='?clang=bg') }}</li>
          <li>{{ components.link(text='Croatian', url='?clang=hr') }}</li>
          <li>{{ components.link(text='Czech', url='?clang=cs') }}</li>
          <li>{{ components.link(text='Dutch', url='?clang=nl') }}</li>
          <li>{{ components.link(text='Estonian', url='?clang=et') }}</li>
          <li>{{ components.link(text='Greek', url='?clang=el') }}</li>
          <li>{{ components.link(text='Hungarian', url='?clang=hu') }}</li>
          <li>{{ components.link(text='Italian', url='?clang=it') }}</li>
          <li>{{ components.link(text='Latvian', url='?clang=lv') }}</li>
          <li>{{ components.link(text='Lithuanian', url='?clang=lt') }}</li>
          <li>{{ components.link(text='Portugeuse', url='?clang=pt') }}</li>
          <li>{{ components.link(text='Romanian', url='?clang=ro') }}</li>
          <li>{{ components.link(text='Russian', url='?clang=ru') }}</li>
          <li>{{ components.link(text='Serbian-Cyrillic', url='?clang=sr') }}</li>
          <li>{{ components.link(text='Slovak', url='?clang=sk') }}</li>
          <li>{{ components.link(text='Slovenian', url='?clang=sl') }}</li>
          <li>{{ components.link(text='Turkish', url='?clang=tr') }}</li>
          <li>{{ components.link(text='English', url='?clang=en') }}</li>
        </ul>
        <div class="open-government-licence">
            <p class="logo">
              <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
            </p>
            <p>{{ t.footer.licence }}</p>
        </div>
        <div class="version-number">Version 3.1.4</div>
      </div>

      <div class="copyright">
          <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

<div id="global-app-error" class="app-error hidden"></div>
