<title>{{ pageTitle }}</title>

<meta charset="utf-8" />
<meta name="name" content="DVSA RSP" />
<meta name="theme-color" content="#1d70b8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta property="og:image" content="{{ assets }}/assets/images/govuk-opengraph-image.png?0.22.2">

<!-- head-misc -->
<link rel="shortcut icon" href="{{ assets }}/assets/images/favicon.svg" type="image/x-icon" />
<link rel="mask-icon" href="{{ assets }}/assets/images/govuk-mask-icon.svg?0.22.2" color="#0b0c0c">
<link rel="apple-touch-icon" sizes="180x180" href="{{ assets }}/assets/images/govuk-apple-touch-icon-180x180.png?0.22.2">
<link rel="apple-touch-icon" sizes="167x167" href="{{ assets }}/assets/images/govuk-apple-touch-icon-167x167.png?0.22.2">
<link rel="apple-touch-icon" sizes="152x152" href="{{ assets }}/assets/images/govuk-apple-touch-icon-152x152.png?0.22.2">
<link rel="apple-touch-icon" href="{{ assets }}/assets/images/favicon.svg">
<link rel="manifest" href="{{ assets }}/assets/manifest.json">
<!-- /head-misc -->

<!-- stylesheets -->
<link href="{{ assets }}/all.css" media="all" rel="stylesheet" />
<!-- /stylesheets -->

<!--[if lt IE 9]>
<script type="text/javascript" src="{{ assets }}/all.js"></script>
<![endif]-->

<script type="text/javascript" src="{{ assets }}/cookie-manager.js"></script>

<!-- Google Tag Manager -->
<script type="text/javascript" src="{{ assets }}/google-tag-manager.js"></script>
<!-- End Google Tag Manager -->
