{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}

{{ govukSkipLink({
  text: "Skip to main content",
  href: "#main-content"
}) }}

{{ govukHeader({
  homepageUrl: "https://www.gov.uk",
  serviceName: "DVSA roadside fines portal",
  serviceUrl: "/",
  containerClasses: "govuk-width-container"
}) }}

{% if not hideLayoutPhaseBanner %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: t.phase_banner.new_service + ' <a class="govuk-link" href="' + t.phase_banner.feedback_link + '">' + t.phase_banner.feedback + '</a> ' + t.phase_banner.help_improve
  }) }}
{% endif %}
